* {
    box-sizing: border-box;
}

html{
    scroll-snap-type: y mandatory;
}

body{
    font-family: 'Lekton', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    background-color: #0b161e;
    color: #fff;
    margin:0px;
}

.textOpen{
    width:50vw;
    padding: 84px;
}

h1{
    font-size: 58px;
}

a{
    color:black;
    text-align: end;
}

section .full-image{
    width:66.66%;
}

section{
    display: flex;

    scroll-snap-align: start;
}

section div{
    width:50%;
}

section .text{
    padding: 84px;
    width:33.33%;
}

section .text img{
    height:12vh;
}

section .text h2{
    text-align: start;
}

section .full-image{
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

section .image-1{
    background-image: url("");
    
}

section:nth-child(odd) {
    flex-direction: row-reverse;
}

model-viewer{
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
}